---
- name: Add VSCode GPG key
  become: yes
  ansible.builtin.get_url:
    url: https://packages.microsoft.com/keys/microsoft.asc
    dest: /etc/apt/keyrings/microsoft.asc
  when: ansible_distribution == 'Debian'

- name: Add VSCode repository
  become: yes
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/microsoft.asc] https://packages.microsoft.com/repos/code stable main"
    state: present
    filename: vscode
  when: ansible_distribution == 'Debian'

- name: Desktops Debian install packages
  become: yes
  apt: 
    update_cache: yes
    cache_valid_time: 86400 #1 day
    name:
        - tigervnc-standalone-server
        - syncthing
        - virt-manager
        - qemu-system
        - libvirt-daemon-system
        - xsel
        - code
    state: present
  when: ansible_distribution == 'Debian'

- name: Desktops Debian remove packages
  become: yes
  apt: 
    update_cache: yes
    cache_valid_time: 86400 #1 day
    name:
        - tightvncserver
        - wayvnc
    state: absent
  when: ansible_distribution == 'Debian'

- name: Desktops Debian enable service ssh and start it
  ansible.builtin.service:
    name: ssh
    enabled: yes
    state: started
  when: ansible_distribution == 'Debian'

- name: "Debian enable service syncthing@{{ myuser }} and start it"
  ansible.builtin.service:
    name: "syncthing@{{ myuser }}"
    enabled: yes
    state: started
  when: ansible_distribution == 'Debian'
