- name: Add Vivaldi Repo
  become: yes
  yum_repository:
    name: vivaldi
    description: vivaldi
    baseurl: https://repo.vivaldi.com/archive/rpm/x86_64
    gpgkey: https://repo.vivaldi.com/archive/linux_signing_key.pub
    gpgcheck: 1
    repo_gpgcheck: 1
    enabled: 1
  when: ansible_distribution == 'Fedora'

- name: Add Virtualbox Repo
  become: yes
  yum_repository:
    name: Virtualbox
    description: Virtualbox Repo
    baseurl: http://download.virtualbox.org/virtualbox/rpm/fedora/$releasever/$basearch
    gpgkey: https://www.virtualbox.org/download/oracle_vbox_2016.asc
    gpgcheck: 1
    enabled: 1
  when: ansible_distribution == 'Fedora'

- name: Add Dropbox Repo
  become: yes
  yum_repository:
    name: dropbox
    description: Dropbox repo
    baseurl: https://linux.dropbox.com/fedora/$releasever/
    gpgkey: https://linux.dropbox.com/fedora/rpm-public-key.asc
    gpgcheck: 1
    enabled: 1
  when: ansible_distribution == 'Fedora'

- name: Add Chrome Repo
  become: yes
  yum_repository:
    name: google-chrome
    description: google-chrome
    baseurl: http://dl.google.com/linux/chrome/rpm/stable/x86_64
    gpgkey: https://dl.google.com/linux/linux_signing_key.pub
    gpgcheck: 1
    enabled: 1
  when: ansible_distribution == 'Fedora'

- name: Add Docker Repo
  become: yes
  yum_repository:
    name: docker-ce-stable
    description: Docker CE Stable - $basearch
    baseurl: https://download.docker.com/linux/fedora/$releasever/$basearch/stable
    gpgkey: https://download.docker.com/linux/fedora/gpg
    gpgcheck: 1
    enabled: 1
  when: ansible_distribution == 'Fedora'

- name: Install laptop packages
  become: yes
  dnf: 
    name:
    - kernel-devel
    - keepassxc
    - syncthing
    - gimp
    - remmina
    - Zim
    - recoll
    - fzf
    - gnome-tweaks
    - google-chrome-stable
    - nautilus-dropbox
    - xsel
    - transmission
    - leafpad
    - unrtf
    - tesseract
    - keychain
    - proxychains-ng
    - torbrowser-launcher
    - firewall-config
    - ewftools
    - gparted
    - dconf-editor
    - seahorse
    - sleuthkit
    - libreoffice
    - whereami
    - geoclue2-demos 
    - okular
    - texstudio
    - latexmk
    - zathura
    - zathura-plugins-all
    - adobe-source-sans-pro-fonts
    - lshw
    - clamav
    - clamav-update
    - cabextract
    - openldap-clients
    - cheat 
    - cheat-bash-completion
    - miller
    - httrack
    - zmap
    - masscan
    - pavucontrol
    - netcat
    - aws-tools
    - par
    - gnome-extensions-app
    - banner
    - hashcat
    - thunderbird
    - golang-bin
    - wireshark
    - aspell
    - krb5-workstation
    - sslscan
    - darktable
    - kleopatra
    - onesixtyone
    - ripgrep
    - docker-ce 
    - docker-ce-cli 
    - containerd.io 
    - docker-buildx-plugin 
    - docker-compose-plugin
    - pass
    - xclip
    - pdfgrep
    - htop
    - gnome-pomodoro
    - libpst
    - recoll-gssp
    - GeoIP
    - python3-notebook
    - ckermit
    - geeqie
    - rawtherapee
    - digikam
    - argyllcms
    - ddrescue
    - sigil
    - md5deep
    - unetbootin
    - fd-find
    - tlp
    - imhex
    - ranger
    - mpv
    - bat
    - gnome-shell-extension-gpaste
    - yubikey-manager
    - yubikey-manager-qt
    - qpdf
    - ffuf
    - restic
    - hardinfo2
    - xmlstarlet
    - ncdu
    - VirtualBox-7.2
    - vivaldi
    - texlive-tikz-kalender
    - texlive-tex-gyre
    state: installed
    disable_excludes: main
  when: ansible_distribution == 'Fedora'

#- name: Remove laptop packages
#  become: yes
#  dnf:
#    name:
#    autoremove: yes
#    state: absent
#  when: ansible_distribution == 'Fedora'

- name: Install multiple tools with go install
  become_user: "{{ myuser }}"
  become: true
  loop:
    - github.com/tomnomnom/anew@latest
    - github.com/projectdiscovery/httpx/cmd/httpx@latest
    - github.com/danielmiessler/fabric/cmd/fabric@latest
  shell: go install {{ item }}
  when: ansible_distribution == 'Fedora'
  loop_control:
    label: "{{ item.split('/')[2] }}"

- name: "Add flathub repo for {{ myuser }}"
  become: yes
  become_user: "{{ myuser }}"
  flatpak_remote:
    name: flathub
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: user
    state: present
  when: ansible_distribution == 'Fedora'

- name: "Install spotify flatpak for {{ myuser }}"
  become: yes
  become_user: "{{ myuser }}"
  flatpak:
    name: com.spotify.Client
    method: user
    remote: flathub
    state: present
  when: ansible_distribution == 'Fedora'

- name: "Install VLC flatpak for {{ myuser }}"
  become: yes
  become_user: "{{ myuser }}"
  flatpak:
    name: org.videolan.VLC
    method: user
    remote: flathub
    state: present
  when: ansible_distribution == 'Fedora'

- name: "Install discord  flatpak for {{ myuser }}"
  become: yes
  become_user: "{{ myuser }}"
  flatpak:
    name: com.discordapp.Discord
    method: user
    remote: flathub
    state: present
  when: ansible_distribution == 'Fedora'

- name: "Install xmind flatpak for {{ myuser }}"
  become: yes
  become_user: "{{ myuser }}"
  flatpak:
    name: net.xmind.XMind
    method: user
    remote: flathub
    state: present
  when: ansible_distribution == 'Fedora'

- name: "Enable service syncthing@{{ myuser }} and start it"
  ansible.builtin.service:
    name: "syncthing@{{ myuser }}"
    enabled: yes
    state: started
  when: ansible_distribution == 'Fedora'

- name: Gather existing groups
  ansible.builtin.getent:
    database: group
  when: ansible_distribution == 'Fedora'

- name: "Add {{ myuser }} to existing groups"
  ansible.builtin.user:
    name: "{{ myuser }}"
    groups: "{{ item }}"
    append: yes
  loop:
    - vboxusers
  when:
    - ansible_distribution == 'Fedora'
    - item in (getent_group | default({}))

- name: Set udev rules for ledger
  template: src=etc/udev/rules.d/20-ledger.rules
    dest=/etc/udev/rules.d/20-ledger.rules
    backup=no
    owner=0 group=0 mode=0444
  when: ansible_distribution == 'Fedora'

- name: Manage dnf.conf
  template: src=etc/dnf/dnf.conf
    dest=/etc/dnf/dnf.conf
    backup=yes
    owner=0 group=0 mode=0444
  when: ansible_distribution == 'Fedora'
