# Managed by ansible. Do not hand edit
# https://raw.githubusercontent.com/LedgerHQ/udev-rules/master/add_udev_rules.sh
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2c97", TAG+="uaccess", TAG+="udev-acl"

