---
- name: Fedora install logwatch packages
  dnf:
    name:
    - logwatch
    state: installed
  when: ansible_distribution == 'Fedora'

- name: Logwatch logwatch.conf
  ansible.builtin.copy:
    src: etc/logwatch/logwatch.conf
    dest: /etc/logwatch/logwatch.conf
    owner: root
    group: root
    mode: '0444'
    backup: no
  when: ansible_distribution == 'Fedora'

- name: Logwatch conf/services
  ansible.builtin.copy:
    src: "etc/logwatch/conf/services/{{ item }}.conf"
    dest: "/etc/logwatch/conf/services/{{ item }}.conf"
    owner: root
    group: root
    mode: 0444
    backup: no
  loop:
    - sshd
    - sendmail
  when: ansible_distribution == 'Fedora'

- name: Remove obsolete scripts/services/sshd.conf
  ansible.builtin.file:
    path: /etc/logwatch/scripts/services/sshd.conf
    state: absent
  when: ansible_distribution == 'Fedora'
