- name: restart sendmail
  service: name=sendmail state=restarted

- name: restart opendkim
  service: name=opendkim state=restarted

- name: newaliases
  ansible.builtin.command: /usr/bin/newaliases
