---
- name: "Debian and Fedora and Kali add the user {{ myuser }}"
  ansible.builtin.user:
    name: "{{ myuser }}"
  when: ansible_distribution in ['Debian', 'Fedora', 'Kali']

- name: Fedora install common packages
  become: yes
  dnf: 
    name:
    - openssl-devel
    - firewall-config
    - sendmail
    - sendmail-cf
    - sendmail-doc
    - opendkim
    - bind-chroot
    - mutt
    - msmtp
    - nmap
    - ftp
    - nginx
    - patch
    - autoconf
    - automake
    - bison
    - gcc-c++ 
    - libffi-devel 
    - libtool
    - readline-devel 
    - sqlite-devel 
    - glibc-devel 
    - libyaml-devel 
    - libicu-devel
    - rsh
    - stow
    - sysstat
    - masscan
    - aspell-en
    - openldap-devel
    - zsh
    - libxslt-devel
    - libxml2-devel
    - libxslt-devel
    - libxml++-devel
    - freetype-devel
    - gtk+-devel
    - gtk3-devel
    - gtk2-devel
    - vte-devel
    - fping
    - hydra
    - fpdns
    - xsel
    - net-snmp-utils
    - ruby
    - python3-impacket
    - python3-certbot-nginx
    - python3-selenium
    - rdesktop
    - fail2ban
    - golang-bin
    - libpcap-devel
    - gobuster
    - chromium
    - chromedriver
    - finger
    - moreutils
    - ShellCheck
    - zmap
    - rust
    - cargo 
    - awscli2
    - dnsx
    - subfinder
    - ngrep
    - wireshark-cli
    - speedtest-cli
    - telnet
    - kitty 
    - fish
    - btop
    - mc
    - neovim
    - s-nail
    - abduco
    - dvtm
    - fira-code-fonts
    - jetbrains-mono-fonts-all
    - age
    state: installed
  when: ansible_distribution == 'Fedora'

- name: Fedora remove common packages
  become: yes
  dnf:
    name:
    - postgresql
    - postgresql-server
    - postgresql-contrib
    - postgresql-upgrade
    - asnip
    - vim-ale
    - cyrus-imapd
    state: absent
  when: ansible_distribution == 'Fedora'

- name: "Install multiple tools with go install for {{ myuser }}"
  become_user: "{{ myuser }}"
  become: true
  loop:
     # gowitness 3.0.5
     - github.com/sensepost/gowitness@6b0000e
  shell: go install {{ item }}
  when: ansible_distribution == 'Fedora'
  loop_control:
     label: "{{ item.split('/')[2] }}"

- name: Debian install common packages
  apt: 
    update_cache: yes
    cache_valid_time: 86400 #1 day
    name:
    - tmux
    - at
    - nmap
    - telnet
    - python3-pip
    - git
    - kitty
    - neovim
    - age
    state: present
  when: ansible_distribution == 'Debian'

- name: Debian remove common packages
  apt: 
    update_cache: yes
    cache_valid_time: 86400 #1 day
    name:
        - ansible
    state: absent
  when: ansible_distribution == 'Debian'

- name: Fedora enable sshd and start it
  ansible.builtin.service:
    name: sshd
    enabled: yes
    state: started
  when: ansible_distribution == 'Fedora'

- name: Fedora sshd configuration file update
  become: yes
  template: src=etc/ssh/sshd_config.fedora.j2
    dest=/etc/ssh/sshd_config
    backup=yes
    owner=0 group=0 mode=0400
    validate='/usr/sbin/sshd -T -f %s'
  notify:
  - restart sshd
  when: ansible_distribution == 'Fedora'

- name: Gather existing groups
  ansible.builtin.getent:
    database: group
  when: ansible_distribution == 'Fedora'

- name: "Add {{ myuser }} to existing groups"
  ansible.builtin.user:
    name: "{{ myuser }}"
    groups: "{{ item }}"
    append: yes
  loop:
    - wireshark
  when:
    - ansible_distribution == 'Fedora'
    - item in (getent_group | default({}))

- name: "Set authorized key for {{ myuser }} copying it from current user"
  ansible.posix.authorized_key:
    user: "{{ myuser }}"
    state: present
    key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/id_ed25519.pub') }}"
  when: ansible_distribution == 'Fedora'

- name: Create .aws directory
  file: path="/home/{{ myuser }}/.aws" state=directory owner="{{ myuser }}" group="{{ myuser }}" mode=0755
  when: 
    - inventory_hostname not in groups["vps"]
    - inventory_hostname not in groups["kali"]

- name: aws config
  template: src=home/myuser/.aws/config
    dest="/home/{{ myuser }}/.aws/config"
    backup=yes
    owner="{{ myuser }}" group="{{ myuser }}" mode=0400
  when: 
    - inventory_hostname not in groups["vps"]
    - inventory_hostname not in groups["kali"]


- name: aws credentials
  template: src=home/myuser/.aws/credentials
    dest="/home/{{ myuser }}/.aws/credentials"
    backup=yes
    owner="{{ myuser }}" group="{{ myuser }}" mode=0400
  when: 
    - inventory_hostname not in groups["vps"]
    - inventory_hostname not in groups["kali"]

- name: Copy gf-patterns to .gf
  become: yes
  become_user: "{{ myuser }}"
  ignore_errors: yes
  ansible.posix.synchronize:
    src: home/myuser/gf-patterns/
    dest: "/home/{{ myuser }}/.gf"
    rsync_opts:
      - "--exclude=.git"
      - "--exclude=README.md"
  when:
    inventory_hostname in groups["kali"] or inventory_hostname in groups["axiom"]

- name: Git clone reconftw repo
  become: yes
  become_user: "{{ myuser }}"
  git: repo=https://github.com/six2dez/reconftw.git dest="/home/{{ myuser }}/reconftw"
  ignore_errors: yes
  when:
    inventory_hostname in groups["kali"] or inventory_hostname in groups["axiom"]

- name: Create Recon directory
  file: path="/home/{{ myuser }}/reconftw/Recon" state=directory owner="{{ myuser }}" group="{{ myuser }}" mode=0755
  when:
    inventory_hostname in groups["kali"] or inventory_hostname in groups["axiom"]
    
- name: install reconftw.cfg
  template: src=home/myuser/reconftw/reconftw.cfg
    dest="/home/{{ myuser }}/reconftw/reconftw.cfg"
    backup=yes
    owner="{{ myuser }}" group="{{ myuser }}" mode=0400
  when:
    inventory_hostname in groups["kali"] or inventory_hostname in groups["axiom"]

- name: Create Tools directory
  file: path="/home/{{ myuser }}/Tools" state=directory owner="{{ myuser }}" group="{{ myuser }}" mode=0755
  when:
    inventory_hostname in groups["kali"] or inventory_hostname in groups["axiom"]

- name: Manage github tokens in Tools directory
  template: src="home/myuser/Tools/.github_tokens"
    dest="/home/{{ myuser }}/Tools/.github_tokens"
    backup=yes
    owner="{{ myuser }}" group="{{ myuser }}" mode=0400
  when:
    inventory_hostname in groups["kali"] or inventory_hostname in groups["axiom"]

- name: Manage github tokens in reconftw directory
  template: src="home/myuser/Tools/.github_tokens"
    dest="/home/{{ myuser }}/reconftw/Recon/.github_tokens"
    backup=yes
    owner="{{ myuser }}" group="{{ myuser }}" mode=0400
  when:
    inventory_hostname in groups["kali"] or inventory_hostname in groups["axiom"]

- name: Create .config/amass directory 
  file: path="/home/{{ myuser }}/.config/amass" state=directory owner="{{ myuser }}" group="{{ myuser }}" mode=0755
  when:
    inventory_hostname in groups["kali"] or inventory_hostname in groups["axiom"]

- name: Manage amass config.ini
  template: src=home/myuser/.config/amass/config.ini
    dest="/home/{{ myuser }}/.config/amass/config.ini"
    backup=yes
    owner="{{ myuser }}" group="{{ myuser }}" mode=0400
  when:
    inventory_hostname in groups["kali"] or inventory_hostname in groups["axiom"]

- name: Manage amass config.ini inside reconftw
  template: src=home/myuser/.config/amass/config.ini
    dest="/home/{{ myuser }}/reconftw/Recon/config.ini"
    backup=yes
    owner="{{ myuser }}" group="{{ myuser }}" mode=0400
  when:
    inventory_hostname in groups["kali"] or inventory_hostname in groups["axiom"]

- name: Create .restic directory
  file: path="/home/{{ myuser }}/.restic" state=directory owner="{{ myuser }}" group="{{ myuser }}" mode=0700
  when:
    inventory_hostname in groups["kali"] or inventory_hostname in groups["laptops"]

- name: Manage exclude.txt in .restic directory
  template: src="home/myuser/.restic/exclude.txt"
    dest="/home/{{ myuser }}/.restic/exclude.txt"
    backup=yes
    owner="{{ myuser }}" group="{{ myuser }}" mode=0400
  when:
    inventory_hostname in groups["kali"] or inventory_hostname in groups["laptops"]
