---
- name: Download and install Docker GPG key
  ansible.builtin.shell: |
    curl -fsSL https://download.docker.com/linux/debian/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
    chmod a+r /etc/apt/keyrings/docker.gpg
  args:
    creates: /etc/apt/keyrings/docker.gpg
  become: yes
  ignore_errors: yes
  when: ansible_distribution == 'Kali'

- name: Add Docker repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/debian trixie stable"
    state: present
  become: yes
  ignore_errors: yes
  when: ansible_distribution == 'Kali'

- name: Download and install Syncthing GPG key
  ansible.builtin.shell: |
    curl -fsSL https://syncthing.net/release-key.gpg | gpg --dearmor -o /etc/apt/keyrings/syncthing.gpg
    chmod a+r /etc/apt/keyrings/syncthing.gpg
  args:
    creates: /etc/apt/keyrings/syncthing.gpg
  become: yes
  ignore_errors: yes
  when: ansible_distribution == 'Kali'

- name: Add Syncthing repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/syncthing.gpg] https://apt.syncthing.net/ syncthing stable"
    state: present
  become: yes
  ignore_errors: yes
  when: ansible_distribution == 'Kali'

- name: Kali uninstall packages
  become: yes
  apt: 
    name:
        # Start remove distribution docker
        - docker.io
        - docker-buildx
        - docker-compose
        - docker-doc
        - podman-docker
        - containerd
        - runc
        # End remove distribution docker
        - subfinder
        - keepassxc 
    state: absent
  when: ansible_distribution == 'Kali'

- name: Kali install packages
  become: yes
  apt: 
    update_cache: yes
    cache_valid_time: 86400 #1 day
    name:
        - zim 
        - syncthing
        - seclists 
        - sslscan
        - python3-venv 
        - python3-pip 
        - idle
        - spyder
        - sublist3r 
        - awscli 
        - golang 
        - gobuster 
        - oscanner 
        - sipvicious 
        - smtp-user-enum 
        - tnscmd10g 
        - stow
        - bind9-dnsutils 
        - dotdotpwn
        - tor
        - ncat
        - telnet
        - dirsearch
        - prips
        - nuclei
        - ffuf
        - neovim
        - jq
        - fzf 
        - uidmap
        - xsel
        - xdot
        - httprobe
        - shellcheck
        - magic-wormhole
        - feroxbuster
        - cargo
        - hakrawler
        - man-db
        - snmp-mibs-downloader
        - geoip-bin
        - geoipupdate
        - clamav
        - clamav-freshclam
        - ewf-tools
        - arjun
        - dnsx
        - zaproxy
        - mongo-tools
        - jupyter
        - python3-pandas
        - xterm
        - xrdp
        - autocutsel
        - htop
        - gospider
        - massdns
        - restic
        - mutt
        - sendmail
        - dradis
        - pst-utils
        - gowitness
        - kitty
        - btop
        - ripgrep
        - python3-django-environ
        - mcp-kali-server
        - rsync
        - curl
        - dirb
        - nikto
        - nmap
        - proxychains4
        - privoxy
        - whatweb
        - pipx
        - naabu
        - getsploit
        - metasploit-framework
        - exploitdb
        - gemini-cli
        - xmlstarlet
        - wordlists
        - ldap-utils
        - whois
        - subjack
        - assetfinder
        - iftop
        - waymore
        - hexstrike-ai
        - metasploit-framework
        - getallurls
        - keepass2
        - maven
    state: present
  when: ansible_distribution == 'Kali'

- name: Kali install packages from docker.com
  become: yes
  ignore_errors: yes
  apt:
    name:
        - docker-ce
        - docker-ce-cli
        - containerd.io
        - docker-buildx-plugin
        - docker-compose-plugin
    state: present
  when: ansible_distribution == 'Kali'

- name: Install multiple tools with go install
  become_user: "{{ myuser }}"
  become: true
  loop:
    - github.com/tomnomnom/anew@latest
    - github.com/pry0cc/tew@latest
    - github.com/d3mondev/puredns/v2@latest
    - github.com/projectdiscovery/shuffledns/cmd/shuffledns@latest
    - github.com/tomnomnom/qsreplace@latest
    - github.com/tomnomnom/gf@latest
    - github.com/tomnomnom/waybackurls@latest
    - github.com/projectdiscovery/httpx/cmd/httpx@latest
    - github.com/lc/gau/v2/cmd/gau@latest
    - github.com/lc/subjs@latest
    - github.com/bitquark/shortscan/cmd/shortscan@latest
    - github.com/bitquark/shortscan/cmd/shortutil@latest
    - github.com/projectdiscovery/subfinder/v2/cmd/subfinder@latest
    - github.com/projectdiscovery/katana/cmd/katana@latest
  shell: go install {{ item }}
  when: ansible_distribution == 'Kali'
  loop_control:
    label: "{{ item.split('/')[2] }}"

- name: Install packages with pipx
  become_user: "{{ myuser }}"
  become: true
  community.general.pipx:
    name: "{{ item.name }}"
  loop:
    - name: euporie
    - name: mcpo
    - name: gradio

- name: Add vboxsf group
  ansible.builtin.group:
    name: vboxsf
    state: present
  when: ansible_distribution == 'Kali'

- name: Add kali-trusted group
  ansible.builtin.group:
    name: kali-trusted
    gid: 117
    state: present
  when: ansible_distribution == 'Kali'

- name: Add docker group
  ansible.builtin.group:
    name: docker
    gid: 995
    state: present
  ignore_errors: yes
  when: ansible_distribution == 'Kali'

- name: Set authorized key for {{ myuser }} copying it from current user
  ansible.posix.authorized_key:
    user: "{{ myuser }}"
    state: present
    key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/id_ed25519.pub') }}"
  when: ansible_distribution == 'Kali'

- name: "Change {{ myuser }} shell to bash and add to kali-trusted, vboxsf, and docker groups"
  ansible.builtin.user:
    name: "{{ myuser }}" 
    shell: /bin/bash
    groups: kali-trusted,vboxsf,docker
    append: yes
  when: ansible_distribution == 'Kali'

- name: "create /home/{{ myuser }}/Downloads"
  become_user: "{{ myuser }}"
  file:
    path: "/home/{{ myuser }}/Downloads"
    state: directory
    owner: "{{ myuser }}"
    group: "{{ myuser }}"
    mode: 0755
  when: ansible_distribution == 'Kali'

- name: "Enable service syncthing@{{ myuser }} and start it"
  ansible.builtin.service:
    name: "syncthing@{{ myuser }}"
    enabled: yes
    state: started
  when: ansible_distribution == 'Kali'

- name: "Enable service tor and start it"
  ansible.builtin.service:
    name: "tor"
    enabled: yes
    state: started
  when: ansible_distribution == 'Kali'

- name: "Enable service sendmail and start it"
  ansible.builtin.service:
    name: "sendmail"
    enabled: yes
    state: started
  when: ansible_distribution == 'Kali'

- name: Enable service ssh
  ansible.builtin.service:
    name: ssh
    enabled: yes
  when: ansible_distribution == 'Kali'

- name: Kali create .vnc directory 
  file: path="/home/{{ myuser }}/.vnc" state=directory owner="{{ myuser }}" group="{{ myuser }}" mode=0700
  when: ansible_distribution == 'Kali'

- name: Kali install tightvnc xstartup
  template: src=home/myuser/.vnc/xstartup
    dest="/home/{{ myuser }}/.vnc/xstartup"
    backup=yes
    owner="{{ myuser }}" group="{{ myuser }}" mode=0755
  when: ansible_distribution == 'Kali'

- name: Kali download chromium unstable deb
  get_url: url=https://github.com/RobRich999/Chromium_Clang/releases/download/v89.0.4376.0-r839848-linux64-deb/chromium-browser-unstable_89.0.4376.0-1_amd64.deb dest="/home/{{ myuser }}/Downloads/"
  become_user: "{{ myuser }}" 
  become: yes
  when: ansible_distribution == 'Kali'

- name: Kali create aquatone directory 
  file: path="/home/{{ myuser }}/Downloads/aquatone" state=directory owner="{{ myuser }}" group="{{ myuser }}" mode=0775
  when: ansible_distribution == 'Kali'

- name: Kali download aquatone
  get_url: url=https://github.com/michenriksen/aquatone/releases/download/v1.7.0/aquatone_linux_amd64_1.7.0.zip dest="/home/{{ myuser }}/Downloads/aquatone/aquatone_linux_amd64_1.7.0.zip"  checksum=sha256:077119d9ccc5e19bb7323a65402aeb4f3460297fb8107efaeeb428e0982fdeac
  become_user: "{{ myuser }}"
  become: yes
  when: ansible_distribution == 'Kali'

- name: Git clone paramspider repo
  become: yes
  become_user: "{{ myuser }}"
  git: repo=https://github.com/devanshbatham/ParamSpider.git dest="/home/{{ myuser }}/paramspider"
  ignore_errors: yes
  when: ansible_distribution == 'Kali'

